
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.faq {
    width: 100%;
    background-color: #94a9ee;
}


.faq h1{
    font-size: 75px;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 50px;
} 

.faq_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    align-items: center;
    text-align: left;
} 


summary{
    color: #ffffff;
    border-bottom: 1px solid #ffffff7a;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 15px;
}  

details {
    color: #00004e;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
}



