@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.servicos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #e7e4e1;
    background-size: cover;
    
}

.servicos h1 {
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    color: #3c7ee2;
} 

@media (max-width: 768px) {

.servicos h1{
    font-size: 80px;
}


}

@media (max-width: 425px) {
    
    .servicos h1{
        font-size: 50px;
    }
   

}

.servicos h2 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 25px;
    color: #3c7ee2;
    text-align: center;
}

@media (max-width: 768px) {


    .servicos h2{
        font-size: 20px;
    }

}

@media (max-width:425px) {
    
    .servicos h2{
        font-size: 15px;
    }

}

.servicos p {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 768px) {

    .servicos p{
        font-size: 14px;
        padding: 10px 10px;
    }

}

.icon_servicos {
    display: flex;
    justify-content: center;
    
} 
 
.icon_servicos img {
    border-radius: 100%;
    border: 1px solid #3f3f3f86;
} 

.container_servicos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 90px;
} 

.box_servicos_top {
    width: 21%;
    margin-bottom: 10%;
    margin-left: 3%;
    border-radius: 5%;
}  


.box_servicos_bottom {
    margin-top: 20%;
    width: 21%;
    margin-right: 3%;
    border-radius: 5%;
} @media (max-width: 425px) {
    
   

}

@media (max-width: 425px) {
    
   .box_servicos_top{
       width: 80%;
       margin-top: 25px;
   }
   .box_servicos_bottom{
       width: 80%;
       margin-top: 25px;
   }

}