@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.sobrenos{
    width: 100%;
    height: 100vh;
    background:#2d2c2c;
    background-size: cover;
} 

.sobrenos h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 30px;
}

.sobrenos h2 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

.sobrenos p{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
} 
  
.icon_sobrenos{
    padding: 15px;
} 

.container_sobrenos{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.banner_sobrenos{
    background:linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.288)), url("../assests/team.jpg") no-repeat center center;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background-size: cover;
    display: flex;
    align-items: center;
} 

.box_sobrenos{
    background-color: #ffffff;
    width: 30%;
    height: 40%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
 
.box_sobrenos .icon_sobrenos{
    display: flex;
    justify-content: center;
} 

.box_sobrenos img{
   width: 100%;
}  

@media (max-width: 425px) {
    .box_sobrenos p{
        
        font-size: 10px;

    }
    
}