*{
    margin: 0;
    padding: 0;
    
}
html{
    overflow: hidden;
    background-color: #273c5c;
}

button{
    cursor: pointer;
}

.cabeca{
    height: 16vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.cabeca .logo{

    height: 7%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    background-color: #273c5c;
    
    
}
.cabeca .logo a{
    align-self: center;
    justify-content: center;
}
.logo:hover{
    cursor: pointer;
}
.cabeca .logo img{
    width: 100%;
    align-self: center;
    justify-content: center;
}
.cabeca .links{

    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273c5c;;
    border-bottom: 3px solid white;

}
.cabeca h1{
    color: white;
    font-size: 50px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.corpo, .corpo2{
    height: 85vh;
    width: 100vw;
    background-color: #011222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.corpo .sidebar{

    height: 100%;
    width: 20%;
    background-color: #37a8e9;
    border-top: 3px solid white;
    border-right: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.corpo .sidebar .titulo_sidebar{

    width: 100%;
    height: 20%;
    background-color: #273c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
    color: #fff;
    font-size: 25px;

}
.corpo .sidebar .titulo_sidebar:hover{

    cursor: pointer;
    font-weight: bolder;
    

}

.titulo_sidebar p{

    font-size: 25px;
    color: white;

}

.titulo_sidebar a{
    font-size: 25px;
}

.corpo .sidebar .corpo_sidebar{

    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;

}

.corpo .sidebar .corpo_sidebar button{

    height: 10%;
    width: 75%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgb(46, 134, 23);
    font-size: 20px;
    color: white;
  
    

}
.corpo_sidebar button:hover{

    cursor: pointer;
    border: 5px solid white;
}
.tela{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tela img{
    opacity: 10%;
    position: fixed;
}

.tela .telas{

    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    border-bottom: #ffffff;

}
.tela .telas .container{

    width: 80%;
    height: 100%;
    background-color: #011222;
    margin-top: 5px;
   
   
    /* background-color: red; */

}

.telas .container .titulo{

    width: 100%;
    height: 10%;
    /* background-color: green; */
    color: #ffffff;
    font-family: 'Saira Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.telas .container .descricao{

    width: 100%;
    height: 5%;
    /* background-color: blue; */
    color: #ffffff;
    font-family: 'Saira Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;

}
.telas .container .formulario_cadastro{
    background-color: #273c5c;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 10%;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Saira Semi Condensed', sans-serif;
}
   
    

.formulario_cadastro input{
    height: 5%;
    width: 30%;
    border-radius: 5px;
    
}
.formulario_cadastro p{
    padding-top: 20px;
    font-size: 15px ;
}
.dados{
    background-color: #273c5c;
    color: #ffffff;
    width: 97%;
    height:  75%;
    display: flex;
    justify-content:left;
    align-items: left;
    padding-left: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 5px; 
    border-radius: 5px;
    flex-direction: column;
    font-weight: 700;
    font-family: 'Saira Semi Condensed', sans-serif;
   
    
    
}

.dados p{
    padding-top: 20px;
    font-size: 20px ;

}

.telas .container .btn{
    display: flex;
    flex-direction: row;
}

.telas .container .botoes{
    /* height: 15%; */
    background-color: #011222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    color: #ffffff;
    padding: 20px 20px;
    margin-left: 10px;
}


.telas .container .botoes:hover{
    background-color: #ffffff;
    color: #273c5c;
}







#tela_conta, #tela_totens, #tela_colaboradores, #tela_regioes, #tela_mapa{
    display: none;
}