body {
    overflow-x: hidden;
}

.grafico1 {

    height: 480px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    padding: 25px;

}
.grafico2{

    
    height: 90px;
    width: 60%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;

}



.box_main {

    height: 600px;
    width: 100%;

    display: flex;
    flex-direction: column;

}
.box_main2{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_seletor{

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: left;
    padding: 2px; 

}
.box_seletor select {

    height: 50%;
    width: 20%;
    align-self: center;
    margin-left: 60px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: grey;
    border: 2px grey solid;

}
#semana {
    margin-right: 600px;
    width: 20%;

}

.box_grafico1 {

    height: 500px;
    width: 59%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;

}
.box_grafico2 {

    height: 500px;
    width: 39%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;

}
.marcadores {

    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 15px;

}

.marcadores div {

    height: 20px;
    width: 20px;
    align-self: center; 
    float: left;
    margin-right:3px; 

}
#div1{

    background-color: #B64040;

}
#div2{

    background-color: #445E84;

}
#div3{

    background-color:#939C30;

}

.titulo {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;

}

#footer_dashboard{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838ab;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    
    margin-top: 1.4%;
    height: 4.6%;
    padding-bottom: 0;
    
    
}
#canva3{

    display: none;

}
.analitics_pai{
    display: flex;
    height: 80%;
    width: 80%;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.analitic{

    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px;
    background-color: blue;
    
}
.box_analitic{

    height: 40px;
    width: 40px;
    background-color: grey;

}
