.form_conteudo {
    position: relative;
    background-color: white;
    display: flex;
    height: 450px;
    width: 350px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
}

.form_conteudo .div_logo_form {
    height: 40px;
    width: 100%;
    margin: 10px auto 100px auto;
    display: flex;
    justify-content: center;
    
}

.logo_form {
    height: 160px;
}

.form_conteudo .div_ipt_form {
    margin: 0 auto 0px auto;
    display: flex;
    justify-content: center;
}

.form_conteudo .div_ipt_form p {
    margin: 5px auto 0 auto;
    
}
.esqueci_senha {
    border: 0;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    font: lighter;
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
    color: black;
}

.ipt_form {
    height: 28px;
    width: 180px;
    margin: 5px 0;
    padding-left: 12px;
    border-radius: 8px;
}

.botao_form {
    margin: 0 auto;
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px red solid;
    cursor: pointer;
    font-size: 20px;
    
}

.botao_cadastrar {
    width: 120px;
    margin-top: 20px;
}

.clique_cadastrar {
    margin: 10px auto;
    color: black;
}

.div_cadastro {
    height: 490px;
    width: 500px;
    display: flex;
}

.div_cadastro_left {
    margin-right: 50px;
}

/* Formulario Login e Cadastro */