* {
    padding: 0;
    margin: 0;
}

html, body{

    width: 100%;
    height: 100%;

}

.links_navbar{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    /* color: white; */
    font-size: medium;
}

.aba_nav {
    color: black;
    
}

#div_img {
    height: 100%;
    width: 50%;
    display: flex;
    
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    float: left;
}




/* tirando sublinhado do link lista*/

a {
    text-decoration: none;
    color: black;
    
}
/* colocando sublinhado no links_navbar*/

.links_navbar ul a {
    text-decoration: underline;
 }


 a:visited {
     color: rgba(0, 0, 0, 0.37);
 }
 /* quando o ponteiro do mouse passa no link */
 a:hover {
     color: rgba(0, 0, 0, 0.37);
 }
 /* quando o link for selecionado */
 
 a:active {
     color: rgba(0, 0, 0, 0.37);
 }

 
#header  {
    background: linear-gradient(to left,#ffd667, rgb(255, 165, 0) );
    /* color: white; */
    padding: 24px;
    font-weight: 300;
    transition-duration: 2s;
    transition: all 0.7s ease;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px rgb(114, 112, 112);
}
#header2 {

    display: none;
    background: linear-gradient(to left,#ffd667, rgb(255, 165, 0) );
    /* color: white; */
    padding: 24px;
    font-weight: 300;
    transition-duration: 2s;
    transition: all 0.7s ease;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px rgb(114, 112, 112);

}


#header:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #ffd667, rgb(255, 165, 0));
}

#img_logo:hover {  
    padding-bottom: 8%;
    transition-duration: 2s;
    transition: all 0.4s ease; 
   
}
   

#img_logo:hover {
    letter-spacing: 0.5px;  
}

.banner {

    width: 100%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .container {

    width: 98%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.lista {

    display: flex;
    flex-direction: column;
    background-color: #FFF8E5;
    border-radius: 10px;
    height: 100%;
     

    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
}

.lista input {
    
    background: url(src/search.png) no-repeat 2px 7px;
    padding-left:30px;
    padding: 4px;
    padding-inline-start: 15px;
    margin: 25px;
    border-radius: 9px;
    background-color: #FFF8E5;
    

}

.lista ul {
    margin: 10px;
    padding-left: 10px;
}

.lista li {
    list-style: none;
    margin: 10px;
}

li {
    list-style: none;
}

.mapa_status {

    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mapa {

    height: 80%;
    width: 98%;
    vertical-align: top;

}

.status {

    height: 150px;
    background-color: #FFF8E5;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);

}

.status .nome_linha {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    color: #9E821C;

}

.status .txt {

    margin-top: 10px;    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lotacao, .atual, .prox {
    font-size: large;
}

#footer{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838ab;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    bottom: 0;
    height: 4.6%;
    
    
}

.aba_fot {
    color: black;
}

#img_logo{
    
    display: flex;
    height: 30px;
   
}


/* 
Cores:
Laranja: E57019
Bege: FFF8E5
Cinza: 383838
Fonte: 9E821C
*/